/* 공통으로 사용되는 스타일 정의*/
.frame {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 30px;
}

#menubar {
    max-width: 800px; margin: 20px auto;
}

.mnr-zone {
    margin: 20px auto;
}

.mnr-guide {
    height: 100px !important;
    resize: none;
}

