/* 공통으로 사용되는 스타일 정의*/
.frame {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 30px;
}

#menubar {
    max-width: 800px; margin: 20px auto;
}

.mnr-zone {
    margin: 20px auto;
}

.mnr-guide {
    height: 100px !important;
    resize: none;
}

#overlay {
    display: none;
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    margin: 0 auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

