/* 공통으로 사용되는 스타일 정의*/
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.NanumSquareNeo-Variable {
    font-family: 'NanumSquareNeo-Variable';
}

.highlight{
    display: inline;
    box-shadow: inset 0 -10px 0 #D9FCDB;
    /*-10px은 highlight의 두께*/
}

.main-div, .sub-div {
    font-family: 'Pretendard-Regular';
}

.main-logo {
    font-family: 'SBAggroB';
    font-size: 24px;
}

.main-font {
    font-family: 'KBO-Dia-Gothic_bold';
}

.frame {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 30px;
}

/*#menubar {*/
/*    max-width: 800px; margin: auto;*/
/*}*/

/*#menubar a {*/
/*    color: white;*/
/*}*/

/*#menubar ul {*/
/*    list-style:none;*/
/*    margin: 0 auto;*/
/*}*/

/*#menubar li {*/
/*    float: left;*/
/*}*/


#menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    max-width: 790px;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 10px;
    flex-wrap: wrap;
}

#menu a {
    color: white;
}

.active {
    border-bottom: 3px solid white;
}

.mnr-zone {
    margin: 20px auto;
}

.mnr-guide {
    height: 100px !important;
    resize: none;
}

#overlay {
    display: none;
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    margin: 0 auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content{
    max-width: 800px;
    margin: 0 auto;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /*width: 790px;*/
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
}
.item{
    min-height: 200px;
    flex-basis: 150px;
    flex-grow: 1;
}
